$coloreSfondo: #640fc5;
$coloreBianco: #f4f4f4;
$coloreTitolo: #350071;
$coloreBordiSopra: white;
$coloreBordiSotto: #350071; 
$coloreBottoneVerde:#4caf50;
$coloreBottoneGiallo: #ff8700;
$coloreBottoneBlu: #0e6cff;
